source https://api.nuget.org/v3/index.json
framework: net8.0
storage: none

nuget Azure.Data.Tables
nuget Azure.Search.Documents
nuget Azure.Storage.Blobs
nuget FSharp.Control.AsyncSeq
nuget FSharp.Data
nuget Fulma
nuget Microsoft.Azure.Core.Spatial
nuget Microsoft.Spatial
nuget OpenTelemetry.Exporter.Console
nuget OpenTelemetry.Extensions.Hosting
nuget OpenTelemetry.Instrumentation.AspNetCore
nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 6
nuget Serilog.AspNetCore
nuget Serilog.Sinks.Console
nuget System.Text.Encodings.Web ~> 6

nuget FSharp.Core ~> 8
nuget Fable.Remoting.Giraffe ~> 5
nuget Saturn ~> 0

nuget Expecto ~> 9

nuget Fable.Core ~> 4
nuget Fable.Elmish ~> 4
nuget Fable.Elmish.React ~> 4
nuget Fable.Elmish.Debugger ~> 4
nuget Fable.Elmish.HMR ~> 7
nuget Fable.Mocha ~> 2
nuget Fable.Remoting.Client ~> 7
nuget Feliz ~> 2


nuget Feliz.Bulma
nuget Feliz.AgGrid
nuget Feliz.Bulma.QuickView
nuget Feliz.Bulma.Slider
nuget Feliz.PigeonMaps
nuget Feliz.ReactLoadingSkeleton
nuget Feliz.Recharts
nuget Feliz.Tippy
nuget Feliz.UseElmish

nuget Fake.Core.Target ~> 5
nuget Fake.IO.FileSystem ~> 5
nuget Farmer ~> 1