source https://api.nuget.org/v3/index.json
framework: net6.0
storage: none

nuget Azure.Data.Tables
nuget Azure.Search.Documents
nuget Azure.Storage.Blobs
nuget Fable.Remoting.Giraffe
nuget FSharp.Control.AsyncSeq
nuget FSharp.Data
nuget FSharp.Core ~> 6
nuget Microsoft.ApplicationInsights.AspNetCore
nuget Microsoft.Azure.Core.Spatial
nuget Microsoft.Spatial
nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 6
nuget Serilog.AspNetCore
nuget Serilog.Sinks.ApplicationInsights
nuget Serilog.Sinks.Console
nuget Saturn
nuget System.Text.Encodings.Web ~> 6

nuget Expecto

nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.FontAwesome.Free
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Remoting.Client

nuget Feliz
nuget Feliz.Bulma
nuget Feliz.AgGrid
nuget Feliz.Bulma.QuickView
nuget Feliz.Bulma.Slider
nuget Feliz.PigeonMaps
nuget Feliz.ReactLoadingSkeleton
nuget Feliz.Recharts
nuget Feliz.Tippy
nuget Feliz.UseElmish
nuget Fulma

nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Farmer